/**********Mixins**********/
/*
$from: green;
$to: blue;

@mixin linear-gradient($from, $to) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom, $from, $to);
}
$backgroundImg: url(../img/bg.jpg);
html{
    background: $backgroundImg}

@mixin greyscale($greyPercent){
      -webkit-filter: grayscale($greyPercent);
     -moz-filter: grayscale($greyPercent);
      -ms-filter: grayscale($greyPercent);
          filter: grayscale($greyPercent);
    
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin columnWidthCalculator($containerWidth, $colNum, $padding, $margin){
    width: ($containerWidth - (2 * $padding + 2 * $margin) * $colNum) / $colNum;
    padding: $padding;
    margin: $margin;
    //overflow: scroll;
}
@mixin rotate($degree, $animateTime){
    transition: all $animateTime linear;
    -ms-transform: rotate($degree);
    -webkit-transform: rotate($degree);
    -moz-transform: rotate($degree);
    transform: rotate($degree);
}
@mixin flip($animateTime){
    transition: all $animateTime linear;
            -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
*/
/**********Nomralize**********/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: url(../img/bg2.jpg) repeat-y center center fixed;
  background-size: 100%;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: Raleway; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/**********Variables**********/
/*
****normalize- the modifications:****
(font)
$background

****Mixins****
$radius
$colNumber
$padding
$margin
$degree
$animateTime

****Main****
$containerWidth
$colPadding
$colMargin
$largeWidth
$midWidth

****Sticky-Footer****
$footerHeight
*/
/**********main**********/
.iconic {
  fill: #555;
  padding: 20px;
  border-radius: 0px;
  border: 4px solid #555; }

.iconic:hover {
  transition: all 0.5s linear;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

button {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  border: 2px solid #555; }

button:hover {
  background: white;
  border-radius: 20px;
  border: 2px solid #333; }

div {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }

h1, h2 {
  background: rgba(255, 255, 255, 0.6);
  text-align: center; }

.wrapper {
  position: relative;
  background-color: rgba(255, 255, 255, 0.4); }

@media all and (min-width: 960px) {
  .wrapper {
    margin: 0 auto;
    width: 940px; }
    .wrapper div {
      background: rgba(255, 255, 255, 0.6);
      text-align: center;
      float: left; }
    .wrapper h2, .wrapper h1 {
      width: 860px;
      padding: 20px;
      margin: 20px; }
    .wrapper h1 {
      height: auto; }
    .wrapper h2 {
      height: auto; }
    .wrapper .col-3 {
      width: 233.33333px;
      padding: 20px;
      margin: 20px;
      height: 380px; }
    .wrapper .col-4 {
      width: 155px;
      padding: 20px;
      margin: 20px;
      height: 290px; } }
@media all and (min-width: 550px) and (max-width: 960px) {
  .wrapper {
    margin: 0 auto;
    width: 530px; }
    .wrapper div {
      background: rgba(255, 255, 255, 0.6);
      text-align: center;
      float: left; }
    .wrapper h2, .wrapper h1 {
      width: 450px;
      padding: 20px;
      margin: 20px; }
    .wrapper h1 {
      height: auto; }
    .wrapper h2 {
      height: auto; }
    .wrapper .col-3 {
      width: 450px;
      padding: 20px;
      margin: 20px;
      height: auto; }
    .wrapper .col-4 {
      width: 185px;
      padding: 20px;
      margin: 20px;
      height: 240px; } }
@media all and (max-width: 550px) {
  .wrapper {
    margin: 0 auto;
    width: 100%;
    min-width: 350px; }
    .wrapper div {
      background: rgba(255, 255, 255, 0.6);
      text-align: center;
      float: left; }
    .wrapper h2, .wrapper h1, .wrapper .col-4, .wrapper .col-3 {
      width: 450px;
      padding: 20px;
      margin: 20px;
      width: auto;
      height: auto; } }
footer {
  margin-top: 20px; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

head, link {
  height: 0; }

/**********Sticky Footer**********/
* {
  margin: 0; }

html, body {
  height: 100%; }

.wrapper {
  min-height: 100%;
  padding-top: 1px;
  margin-top: 20px; }

.wrapper:after {
  content: "";
  display: block; }

footer {
  height: 120px; }

footer {
  text-align: center;
  height: 100px;
  padding: 10px;
  color: #444;
  background-color: #ddd; }

/*# sourceMappingURL=main.css.map */
