$footerHeight: 100px;

.wrapper{
    height: 100%;
    overflow: scroll;
}
//For some odd reason last-child won't work...don't know why
.row:nth-child(2n+1){
    padding-bottom: $footerHeight;
}

footer{
    height: $footerHeight;
    position: absolute;
    bottom: 0;
    left: 0;
    text-indent: 7%;
    width: 100%;
    text-align: left;
    color: #444;
    background: rgba(200,200,200,.9);
    
}